html {
  font-size: 13px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }

  @media (min-width: $large-desktop) {
    font-size: 24px;
  }
}

body {
  background: $white;
  color: $gray;
  font: 400 1rem/2em $fira-sans;
  margin: 0;
  text-align: center;
}

a {
  color: $blue;
  text-decoration: none;
  @include s-font;

  &:hover {
    text-decoration: underline;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  border: 1px $white solid;
  box-sizing: border-box;
  font-family: $fira-sans;
  font-size: 1rem;
  font-weight: 300;
  padding: $space 15px;
  width: 100%;

  &:focus {
    border-color: $blue;
    outline: 0;
  }

  &:invalid {
    border-color: $red;
  }

  @media (min-width: $tablet) {
    padding: $mid-space 15px;
  }

  @media (min-width: $tablet) {
    padding: $mid-space $large-space;
  }
}

input[type="submit"] {
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 0 $space*2;
  padding: 0;
}
