.page-header {
  margin: $space;

  @media (min-width: $tablet) {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 40px $mid-space 25px;
  }

  @media (min-width: $desktop) {
    margin: 50px $large-space 30px;
  }

  @media (min-width: $large-desktop) {
    margin-top:60px;
    margin-bottom: 35px;
  }
}

.logo {
  margin-left: -5px;
  width: 170px;
  display: block;

  @media (min-width: $tablet) {
    width: 210px;
  }

  @media (min-width: $desktop) {
    width: 240px;
  }

  @media (min-width: $large-desktop) {
    width: 280px;
  }
}

.subsidiary-container {
  color: $dark-gray;
  font-weight: 300;
}
