$light-gray: #ededed !default;
$gray: #757575 !default;
$dark-gray: #474747 !default;
$border-gray: #dadada !default;
$detail-gray: #a3a3a3 !default;
$blue: #007ac3 !default;
$red: #e5202e !default;
$white: #fff !default;

$tablet: 768px !default;
$desktop: 992px !default;
$large-desktop: 1200px !default;

$fira-sans: 'Fira Sans' !default;

$space: 10px !default;
$mid-space: 15px !default;
$large-space: 20px !default;

$s-font-size: 11px !default;
$s-font-size-mid: 13px !default;
$s-font-size-large: 16px !default;
$s-font-size-xlarge: 20px !default;
