.page-content {
  display: flex;
  flex-direction: column;
  margin: $space;

  @media (min-width: $tablet) {
    align-items: flex-start;
    flex-direction: row;
    margin: $mid-space;
  }

  @media (min-width: $tablet) {
    margin: $large-space;
  }

}
