.contact-list {

  &-item {
    font-size: 11px;
    line-height: 1.8em;
    padding-top: $space;

    @media (min-width: $tablet) {
      font-size: 13px;
      padding-top: $mid-space;
    }
  }
}

.contact {

  &-container {
    border: 1px solid $border-gray;
    padding: $space;

    @media (min-width: $tablet) {
      padding: $space $mid-space;
    }
  }

  &-header {
    color: $dark-gray;
    font-size: 1rem;
    font-weight: 400;

    margin: 0;
    padding: 0;
  }

  &-phone {
    color: $detail-gray;

    &-num {
      color: $dark-gray;
    }
  }
}
