.footer-container {
  box-sizing: border-box;
  line-height: 1.8em;
  padding: 0 $space $space;
  width: 100%;
  @include s-font;

  @media (min-width: $tablet) {
    max-width: 59%;
    padding: 0 $mid-space $mid-space;
  }

  @media (min-width: $desktop) {
    padding: 0 $large-space $large-space;
  }

  @media (min-width: $large-desktop) {
    padding: 0 $large-space $large-space;
  }
}
