html {
  font-size: 13px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

body {
  background: $white;
  color: $gray;
  font: 400 1rem/2em $fira-sans;
  margin: 0;
  text-align: center;
}

a {
  color: $blue;
  font-size: 11px;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 13px;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  &:hover {
    text-decoration: underline;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  border: 0;
  box-sizing: border-box;
  font-family: $fira-sans;
  font-size: 1rem;
  font-weight: 300;
  padding: $space 15px;
  width: 100%;

  @media (min-width: $tablet) {
    padding: $mid-space 15px;
  }

  @media (min-width: $tablet) {
    padding: $mid-space $large-space;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 0 $space*2;
  padding: 0;
}
