.page-main {
  background: $light-gray;
  margin-bottom: $space;
  padding: $space;

  @media (min-width: $tablet) {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: $mid-space;
    padding: $mid-space;
  }
}

.form {

  &-container {

  }

  &-row + &-row {
    margin-top: $space;
  }
}

.login {

  &-label-text {
    color: $dark-gray;
    display: block;
  }

  &-input {
    background: $white;
  }

  &-checkbox {
    opacity: 0;
  }

  &-checkbox + &-label-text {
    cursor: pointer;
    display: inline-block;
    position: relative;

    &::before {
      background: $white;
      border: 1px $border-gray solid;
      content: '';
      height: 12px;
      position: absolute;
      top: 5px;
      left: -23px;
      width: 12px;

      @media (min-width: $tablet) {
        height: 15px;
        top: 6px;
        width: 15px;
      }
    }
  }

  &-checkbox:checked + &-label-text {
    &::after {
      border-left: 1px $red solid;
      border-bottom: 1px $red solid;
      content: '';
      height: 3px;
      left: -21px;
      position: absolute;
      top: 9px;
      transform: rotateZ(-45deg);
      width: 9px;

      @media (min-width: $tablet) {
        height: 5px;
        left: -20px;
        top: 10px;
        width: 11px;

      }
    }
  }

  &-btn {
    background: $blue;
    color: $white;
    cursor: pointer;
  }
}

.forgot-link {
  margin-top: 4px;
}
