$light-gray: #ededed;
$gray: #757575;
$dark-gray: #474747;
$border-gray: #dadada;
$detail-gray: #a3a3a3;
$blue: #007ac3;
$red: #e5202e;
$white: #fff;

$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

$fira-sans: 'Fira Sans';

$space: 10px;
$mid-space: 15px;
$large-space: 20px;

